name: Lint Commits

on:
  pull_request:
    branches: [master, main]

jobs:
  commitlint:
    runs-on: ubuntu-latest

    # Skip for automated release PRs
    if: "!startsWith(github.head_ref, 'release/')"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint commit messages
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .commitlintrc.yml
